/**footer**/
.footer{
    width: 100%;
    height: 220px;
    background-color: #424242;
    margin-top: 20px;
}
.footer_p{
    color: #EEEEEE;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 0;
}
.footer_container{
    width: 430px;
    margin: auto;
}
.footer_box{
    height: 100%;
    width: 150px;
    margin-top: 10px;
    display: inline-block;
}
.footer_box_title {
    text-align: center;
    color: #EEEEEE;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.footer_box_p{
    text-align: center;
    color: #EEEEEE;
    margin-bottom: 5px;
}