*{
    padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    min-width: 1024px;
    background-color: #EEEEEE;
}
header{
    width: 100%;
    height: 55px;
    background-color: #fff;
}
.header-title-box {
    display: inline-block;
    float: left;
    margin-left: 100px;
}
.header-title-logo {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.header-title {
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    line-height: 55px;
    margin-left: 15px;
}
.header_a{
    display: inline-block;
    font-size: 14px;
    background-color: #FFFFFF;
    width: 100px;
    height: 100%;
    color: #000000;
    text-decoration: none;
    text-align: center;
    line-height: 55px;
    transition: all .2s;
    margin-left: -4px;
}
.header_a:hover{
    background-color: #9ccc65;
    color: #FFFFFF;
}
.header_a_focus{
    background-color: #9ccc65;
    color: #FFFFFF;
}
.header_login_btn{
    display: inline-block;
    font-size: 14px;
    background-color: #FFFFFF;
    width: 60px;
    height: 100%;
    color: #000000;
    text-decoration: none;
    text-align: center;
    line-height: 55px;
}
.header_userinfo {
    width: 100px;
    position:relative;
    margin-right: 100px;
    cursor: pointer;
}
.header_username {
    font-size: 14px;
    color: #606060;
    padding-left: 15px;
    padding-right: 5px;
}
.header_userinfo_list{
    z-index: 10;
    position: absolute;
    background-color: #FFFFFF;
    display: none;
}
.header_userinfo_list_a{
    display: block;
    text-decoration: none;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #000000;
}
.header_userinfo_list_a:hover{
    color: #FFFFFF;
    background-color: #9ccc65;
}
