<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    {include file="layout/head" /}
    <link rel="stylesheet" href="__STATIC__/css/inputbox.css">
</head>
<body>
{include file="layout/header" /}
<div class="input-box">
    <div class="input-box-title">
        <span>登陆</span>
        <a href="{:url('Register/index')}" style="font-size:16px;color:#bdbdbd;text-decoration:none;">/注册</a>
    </div>
    <input id="user-name" class="input-box-text" type="text" placeholder="用户名" />
    <input id="user-pswd" class="input-box-text" type="password" placeholder="密码" />
    <label class="input-box-checkbox"><input id="remember-pswd" type="checkbox">记住密码</label>
    <a href="#" style="float:right;text-decoration:none;color:#353535;margin-right: 20px;">忘记密码？</a>
    <button class="input-box-btn" type="submit">登陆</button>
</div>
{include file="layout/footer" /}
<script>
    window.onload = function(){
        layui.use('layer');
        var oUser = document.getElementById('user-name');
        var oPswd = document.getElementById('user-pswd');
        var oRemember = document.getElementById('remember-pswd');
        //页面初始化时，如果帐号密码cookie存在则填充
        if(getCookie('farm-user-name') && getCookie('farm-user-pswd')){
            oUser.value = getCookie('farm-user-name');
            oPswd.value = getCookie('farm-user-pswd');
            oRemember.checked = true;
        }
        //复选框勾选状态发生改变时，如果未勾选则清除cookie
        oRemember.onchange = function() {
            if(!this.checked){
                delCookie('farm-user-name');
                delCookie('farm-user-pswd');
            }
        };
        // 用户登陆
        $('.input-box-btn').click(function () {
            $.ajax({
                type: 'POST',
                data: {
                    username: oUser.value,
                    password: oPswd.value
                },
                url: '{:url("login")}',
                success: function (data) {
                    UserLogin(data['result'], oRemember.checked, oUser.value, oPswd.value);
                },
                error: function () {
                    layui.layer.alert('服务器飘去远方了...', {icon:5});
                }
            });
        });
    };
    //用户登陆
    function UserLogin(result, checked, user, pswd) {
        if (result) {
            location.href = "{:url('Index/index')}";
            // 如果复选框是勾选状态则保存cookie
            if(checked){
                setCookie('farm-user-name', user, 3); //保存帐号到cookie，有效期3天
                setCookie('farm-user-pswd', pswd, 3); //保存密码到cookie，有效期3天
            }
        } else {
            layui.layer.alert('用户名或密码错误！', {icon:5});
        }
    }
    //设置cookie
    function setCookie(name,value,day){
        var date = new Date();
        date.setDate(date.getDate() + day);
        document.cookie = name + '=' + value + ';expires='+ date;
    }
    //获取cookie
    function getCookie(name){
        var reg = RegExp(name+'=([^;]+)');
        var arr = document.cookie.match(reg);
        if(arr){
            return arr[1];
        }else{
            return '';
        }
    }
    //删除cookie
    function delCookie(name){
        setCookie(name,null,-1);
    }
</script>
</body>
</html>