<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户后台管理</title>
    {include file="layout/head" /}
    <link rel="stylesheet" href="__CSS__/admin_index.css">
    <link rel="stylesheet" href="__CSS__/page.css">
</head>
<body>
<div class="admin_box">
    {include file="layout/admin_bar" /}
    <div class="content">
        <div class="card" style="display: block">
            <div style="width: 100%;height: 90%">
                <div class="card_title">
                    <p class="card_title_p" style="margin-left: 5%">订单管理</p>
                </div>
                <div class="card_nav">
                    <p class="card_nav_p">产品名称</p>
                    <p class="card_nav_p">单价</p>
                    <p class="card_nav_p">数量</p>
                    <p class="card_nav_p">总价</p>
                    <p class="card_nav_p">买家</p>
                    <p class="card_nav_p">交易状态</p>
                </div>
                {volist name="orders" id="order"}
                <div class="card_content">
                    <p class="card_nav_p">{$order.goods.name}</p>
                    <p class="card_nav_p">{$order.price}</p>
                    <p class="card_nav_p">{$order.number}</p>
                    <p class="card_nav_p">{$order.total}</p>
                    <p class="card_nav_p">{$order.user.nickname}</p>
                    <p class="card_nav_p" id="order_state" >
                        {if condition="$order.state eq 0"}发货
                        {elseif condition="$order.state eq 1"}正在处理
                        {elseif condition="$order.state eq 2"}交易完成
                        {else /}错误
                        {/if}
                    </p>
                </div>
                {/volist}
            </div>
            <div style="width: 100%;height: 10%;">
                {$orders->render()}
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var value = $("#order_state").html();
    if( $.trim(value) == "发货"){
        $("#order_state").css("cursor","pointer");
        $("#order_state").css("color","#2ca02c");
        $("#order_state").click(function () {
            alert("ss")
        })
    }
</script>
</html>