<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户后台管理</title>
    <script src="__STATIC__/lib/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/admin_index.css">
</head>
<body>
<div class="admin_box">
    <div class="nav">
        <div style=";width: 100%;border-bottom: 1px solid #FFFFFF;">
            <p class="card_title_p1"style="margin-left: 36.765px">欢迎您: </p><span class="card_title_p1"> locust</span>
        </div>
        <button class="nav_btn nav_btn_focus" onclick="javascrtpt:window.location.href='{:url(\'index\')}'">订单管理</button>
        <button class="nav_btn " onclick="javascrtpt:window.location.href='{:url(\'usermanage\')}'">用户管理</button>
        <button class="nav_btn" onclick="javascrtpt:window.location.href='{:url(\'goodsmanage\')}'">商品管理</button>
        <a  href="{:url('AdminLogin/logOut')}" class="out_btn btn btn-primary" style="width: 154px;margin-top: 287px;text-decoration: none;line-height: 50px">注销</a>
    </div>
    <div class="content">
        <div class="card" style="display: block">
            <div style="width: 100%;height: 90%">
                <div class="card_title">
                    <p class="card_title_p" style="margin-left: 5%">订单管理</p>
                </div>
                <div class="card_nav">
                    <p class="card_nav_p">产品名称</p>
                    <p class="card_nav_p">单价</p>
                    <p class="card_nav_p">数量</p>
                    <p class="card_nav_p">总价</p>
                    <p class="card_nav_p">买家</p>
                    <p class="card_nav_p">交易状态</p>
                </div>
                {volist name="orders" id="order"}
                <div class="card_content">
                    <p class="card_nav_p">{$order.goods.name}</p>
                    <p class="card_nav_p">{$order.price}</p>
                    <p class="card_nav_p">{$order.number}</p>
                    <p class="card_nav_p">{$order.total}</p>
                    <p class="card_nav_p">{$order.user.nickname}</p>
                    <p class="card_nav_p">
                        {if condition="$order.state eq 0"}
                        未处理
                        {elseif condition="$order.state eq 1"}
                        正在处理
                        {elseif condition="$order.state eq 2"}
                        交易完成
                        {else /}
                        错误
                        {/if}
                    </p>
                </div>
                {/volist}
            </div>
            <div style="width: 100%;height: 10%;">
                {$orders->render()}
            </div>
        </div>
    </div>
</div>
</body>
<script>
    window.onresize = function(){
        window.location.reload()
    };
</script>
</html>