<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户后台管理</title>
    {include file="layout/head" /}
    <link rel="stylesheet" href="__CSS__/admin_index.css">
    <link rel="stylesheet" href="__CSS__/page.css">
</head>
<body>
<div class="admin_box">
    {include file="layout/admin_bar" /}
    <div class="content">
    <div class="card" style="display: block;">
        <div style="width: 100%;height: 90%">
            <div class="card_title">
                <p class="card_title_p" style="margin-left:5%;">用户管理</p>
            </div>
            <div class="card_nav">
                <p class="card_nav_p">账号</p>
                <p class="card_nav_p">昵称</p>
                <p class="card_nav_p">性别</p>
                <p class="card_nav_p">邮箱</p>
                <p class="card_nav_p">手机号</p>
                <p class="card_nav_p">操作</p>
            </div>
            {volist name="users" id="user"}
            <div id="user-{$user.id}" class="card_content">
                <p class="card_nav_p ">{$user.username}</p>
                <p class="card_nav_p">{$user.nickname}</p>
                <p class="card_nav_p">{eq name='$user.sex' value='0'}男{else /}女{/eq}</p>
                <p class="card_nav_p">{$user.email}</p>
                <p class="card_nav_p">{$user.phone}</p>
                <div class="card_nav_p card_operation">
                    <span class="user_operation" href="javascript:void(0)" onclick="user_delete('{$user.id}')">删除</span>
                </div>
            </div>
            {/volist}
        </div>
        <div style="width: 100%;height: 10%;">
            {$users->render()}
        </div>
    </div>
    </div>
</div>
</div>
<script>
    layui.use('layer');

    function user_delete(id) {
        // 询问框
        layui.layer.confirm('确认要删除该用户吗？', {
            btn: ['删除','取消']
        }, function() {
            var msgIndex = layui.layer.msg('正在删除...', {time:-1, shade: 0.3});
            $.ajax({
                data: { id: id },
                url:'{:url("deleteUser")}',
                success: function (data) {
                    layui.layer.close(msgIndex);
                    if (data['result']) {
                        layui.layer.msg('删除成功', {icon: 1});
                        $('#user-' + id).remove();
                    }
                    else {
                        layui.layer.msg(data['msg'], {icon: 2});
                    }
                }
            });
        });
    }
</script>
</body>
</html>