<div class="nav">
    <div style=";width: 100%;">
        <p class="card_title_p1"style="margin-left: 36.765px">管理员</p><span class="card_title_p1">&nbsp;locust</span>
        <a  href="{:url('AdminLogin/logOut')}" class="logout_btn">注销</a>
    </div>
    <a class="nav_btn{eq name='index' value='1'} nav_btn_focus{/eq}" href="{:url('index')}">订单管理</a>
    <a class="nav_btn{eq name='index' value='2'} nav_btn_focus{/eq}" href="{:url('usermanage')}">用户管理</a>
    <a class="nav_btn{eq name='index' value='3'} nav_btn_focus{/eq}" href="{:url('goodsmanage')}">商品管理</a>
    <a class="nav_btn" href="{:url('Index/index')}">回首页</a>
</div>