<link rel="stylesheet" href="__STATIC__/css/footer.css">

<footer class="footer">
    <div class="footer_container">
        <div class="footer_box">
            <div class="footer_box_title">友情链接</div>
            <p class="footer_box_p">123456</p>
            <p class="footer_box_p">123456</p>
            <p class="footer_box_p">123456</p>
        </div>
        <div class="footer_box" style="float: right">
            <div class="footer_box_title">联系我们</div>
            <p class="footer_box_p">123456</p>
            <p class="footer_box_p">123456</p>
            <p class="footer_box_p">123456</p>
        </div>
    </div>
    <p class="footer_p">Copyright© 2017-2018 CoolCoder All Rights Reserved.</p>
</footer>
