<link rel="stylesheet" href="__STATIC__/css/footer.css">

<footer class="footer">
    <div class="footer_container">
        <div class="footer_box">
            <div class="footer_box_title">相关链接</div>
            <a href="{：url('Goods/index')}" class="footer_box_a">交易大厅</a>
            <a href="{:url('Register/index')}" class="footer_box_a">注册账号</a>
            <a href="{:url('AdminLogin/index')}" class="footer_box_a">后台管理</a>
        </div>
        <div class="footer_box">
            <div class="footer_box_title">交易大厅</div>
            <a href="#" class="footer_box_a">旅游业</a>
            <a href="#" class="footer_box_a">农产品</a>
            <a href="#" class="footer_box_a">手工艺</a>
        </div>
        <div class="footer_box large">
            <div class="footer_box_title">联系我们</div>
            <p class="footer_box_a">咨询电话：13512361324</p>
            <p class="footer_box_a">E-mail：farmweb@qq.com</p>
            <p class="footer_box_a">公司地址：西南民族大学</p>
        </div>
    </div>
    <p class="footer_p">Copyright© 2017-2018 CoolCoder All Rights Reserved.</p>
</footer>
