<link rel="stylesheet" href="__STATIC__/css/header.css">
<script src="__STATIC__/js/common.js"></script>

<header>
    <div class="header-title-box">
        <img class="header-title-logo" src="__IMAGE__/logo.png" alt="农副产品旅游手工艺交易平台">
        <p class="header-title">农副产品旅游手工艺交易平台</p>
    </div>
    <div style="float: right">
        <a href="{:url('Index/index')}" class="header_a<?php if(isset($isIndex)) { ?> header_a_focus<?php } ?>">首页</a>
        <a href="{:url('Goods/index')}" class="header_a<?php if(isset($isHall)) { ?> header_a_focus<?php } ?>">交易大厅</a>
        <a href="{:url('Index/connect')}" class="header_a<?php if(isset($isConnect)) { ?> header_a_focus<?php } ?>">联系我们</a>

        {if condition="$Think.session.userid" }
        <div href="" class="header_userinfo header_login_btn" id="header_userinfo">
            <span class="header_username">{$user.nickname}</span>
            <i class="fas fa-angle-down" style="color: #808080;"></i>
            <div class="header_userinfo_list" id="header_userinfo_list">
                <a href="{:url('User/index')}" class="header_userinfo_list_a">个人资料</a>
                <a href="{:url('User/orders')}" class="header_userinfo_list_a">我的订单</a>
                <a href="javascript:void(0)" onclick="logout()" class="header_userinfo_list_a">退出</a>
            </div>
        </div>
        {else/}
        <a href="{:url('Login/index')}" onclick="" class="header_login_btn">登录</a>
        <a href="{:url('Register/index')}" class="header_login_btn" style="margin-right: 100px">注册</a>
        {/if}
    </div>
    <script>
        function logout() {
            $.ajax({
                type: 'GET',
                url: '{:url("Login/logOut")}',
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    window.location.reload();
                },
            })
        }
    </script>
</header>