<link rel="shortcut icon" href="__IMAGE__/favicon.ico" type="image/icon">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
<link rel="stylesheet" href="__STATIC__/lib/layui/css/layui.css">
<script src="__STATIC__/lib/jquery/jquery-3.3.1.min.js"></script>
<script src="__STATIC__/lib/layui/layui.js"></script>