<link rel="stylesheet" href="__STATIC__/css/header.css">
<script src="__STATIC__/js/common.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
<header>
    <div class="header-title-box">
        <img class="header-title-logo" src="__STATIC__/image/image_circle.png" alt="农副产品旅游手工艺交易平台">
        <p class="header-title">农副产品旅游手工艺交易平台</p>
    </div>
    <div style="float: right">
        <a href="__ROOT__" class="header_a<?php if(isset($isIndex)) { ?> header_a_focus<?php } ?>">首页</a>
        <a href="#" class="header_a<?php if(isset($isHall)) { ?> header_a_focus<?php } ?>">交易大厅</a>
        <a href="#" class="header_a<?php if(isset($isConnect)) { ?> header_a_focus<?php } ?>">联系我们</a>

        {if condition="$Think.session.userId" }
        <div href="" class="header_a" style="width: 180px;position:relative;" id="header_a_">
            <p style="display: inline-block;font-size: 14px;color: #9e9e9e">{$user.nickname}</p>
            <img src="__STATIC__/image/down.png" style="display: inline-block;width: 14px;vertical-align: middle">
            <div class="header_a_list" id="header_a_list">
                <a href="{:url('User/index')}" class="header_a_list_a">个人资料</a>
                <a href="" class="header_a_list_a">我的订单</a>
                <a href="{:url('Login/logOut')}" class="header_a_list_a">退出</a>
            </div>
        </div>
        {else/}
        <a href="{:url('Login/index')}" class="header_login_btn">登录</a>
        <a href="{:url('Register/index')}" class="header_login_btn" style="margin-right: 100px">注册</a>
        {/if}
    </div>
</header>