<link rel="stylesheet" href="__STATIC__/css/header.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
<link rel="stylesheet" href="__STATIC__/lib/layui/css/layui.css">
<script src="__STATIC__/lib/layui/layui.js"></script>
<script src="__STATIC__/js/common.js"></script>
<header>
    <div class="header-title-box">
        <img class="header-title-logo" src="__STATIC__/image/image_circle.png" alt="农副产品旅游手工艺交易平台">
        <p class="header-title">农副产品旅游手工艺交易平台</p>
    </div>
    <div style="float: right">
        <a href="__ROOT__" class="header_a<?php if(isset($isIndex)) { ?> header_a_focus<?php } ?>">首页</a>
        <a href="#" class="header_a<?php if(isset($isHall)) { ?> header_a_focus<?php } ?>">交易大厅</a>
        <a href="#" class="header_a<?php if(isset($isConnect)) { ?> header_a_focus<?php } ?>">联系我们</a>

        {if condition="$Think.session.userId" }
        <div href="" class="header_userinfo header_login_btn" id="header_userinfo">
            <span class="header_username">{$user.nickname}</span>
            <i class="fas fa-angle-down" style="color: #808080;"></i>
            <div class="header_userinfo_list" id="header_userinfo_list">
                <a href="{:url('User/index')}" class="header_userinfo_list_a">个人资料</a>
                <a href="#" class="header_userinfo_list_a">我的订单</a>
                <a href="{:url('Login/logOut')}" class="header_userinfo_list_a">退出</a>
            </div>
        </div>
        {else/}
        <a href="{:url('Login/index')}" class="header_login_btn">登录</a>
        <a href="{:url('Register/index')}" class="header_login_btn" style="margin-right: 100px">注册</a>
        {/if}
    </div>
</header>